* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}

.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 2px solid white;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.hamburger {
    position: absolute;
    width: 50px;
    height: 5px;
    border-radius: 20px;
    background-color: whitesmoke;
    transition: all .5s ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    border-radius: 20px;
    background-color: whitesmoke;
    transition: all .5s ease-in-out;
}

.hamburger::before {
    transform: translateY(16px);
}

.hamburger::after {
    transform: translateY(-16px);
}


/* Animation */

.menu.open .hamburger {
    background: transparent;
}

.menu.open .hamburger::before {
    transform: rotate(45deg);
}

.menu.open .hamburger::after {
    transform: rotate(-45deg);
}